.gradle
build/
mtpgsql/src/include/env/timestamp.h
mtpgsql/src/include/fmgr.h
*.o
*dSYM
nbproject
libweaver.dylib
weaver
/cbuild/
/abuild/
/nbuild/
**/.idea/
/pgjava_c/libweaver.so
local.properties
gradle.properties
local_abuild.sh
